SUBMODEL_AI_API_KEY=XXX
SUBMODEL_API_URL=http://localhost:8080/graphql
SUBMODEL_DEBUG_LEVEL=INFO
SUBMODEL_ENDPOINT_ID=test-endpoint
SUBMODEL_PING_INTERVAL=1000
SUBMODEL_POD_ID=test-worker
SUBMODEL_WEBHOOK_GET_JOB=http://localhost:8080/v2/test-endpoint/job-take/$SUBMODEL_POD_ID?gpu=NVIDIA+GeForce+RTX+4090
SUBMODEL_WEBHOOK_PING=http://localhost:8080/v2/test-endpoint/ping/$SUBMODEL_POD_ID?gpu=NVIDIA+GeForce+RTX+4090
SUBMODEL_WEBHOOK_POST_OUTPUT=http://localhost:8080/v2/test-endpoint/job-done/$SUBMODEL_POD_ID?gpu=NVIDIA+GeForce+RTX+4090
SUBMODEL_WEBHOOK_JOB_STREAM=http://localhost:8080/v2/test-endpoint/job-stream/$SUBMODEL_POD_ID?gpu=NVIDIA+GeForce+RTX+4090
